body{
  
    background: url(/images/b1.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
h1{
    color: gold;
}
form{
    align-items: center;
    background-color: black;
    margin-left: 35%;
    margin-right: 35%;
    margin-top:5%;
    margin-bottom:5%;
    border: black;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-right: 50px;
}
#rbut{
    margin-right: 100px;
    color: white;
    background-color: red;
}
#sub{
    color: white;
    background-color: green;
}
label,h3{
    color: white;
}
legend{
    color:white;
}